body
{
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	
	margin-left: 100px;
	margin-right: 100px;
	background-color:hsl(36, 100%, 99%);
	
	color:hsl(236, 13%, 42%);
}


header
{
	display:flex;
	height: 60px;
	justify-content: space-between;
	align-items:center;
}

p
{
	
	font-weight:400;
}

a
{
	font-weight:700;
	font-size:1.2em;
}

h1
{
	font-size: 3em;
	font-weight: 800;
	color:hsl(240, 100%, 5%);
}

h2
{
	font-size: 2em;
	font-weight: 700;
	color:hsl(35, 77%, 62%);
}

h3
{
	font-size: 2em;
	font-weight: 700;
	color:hsl(5, 85%, 63%);
}

header > div > button
{
	outline: none; 
	border: 0;
	font-size: 1em;
	background-color: hsl(36, 100%, 99%);
	color:hsl(236, 13%, 42%);
}

header > div > button:hover
{
	color:hsl(35, 77%, 62%);
}

header > div
{
	display: flex;
	gap: 40px;
}

.White > div > button
{
	border: 0px;
	border-radius:0px;
	
	background-color:hsl(5, 85%, 63%);
	color: hsl(240, 100%, 5%);
	
	font-weight: 700;
	
	padding:15px;
	
	letter-spacing: 4px;
}

.White > div > button:hover
{
	background-color:hsl(240, 100%, 5%);
	color: hsl(5, 85%, 63%);
}

.Big{margin-bottom: 50px;}

article > div
{
	display: flex;
	gap: 50px;
}

.BigImage
{
	width:730px;
	height: 300px;
	
	top: 0; right: 0; bottom: 0; left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("./assets/images/image-web-3-desktop.jpg");
}

.Black
{
	background-color: hsl(240, 100%, 5%);
	
	color: hsl(36, 100%, 99%);
	padding: 30px;
}

.White
{
	display:flex;
	gap:20px;
}

.White > div
{
	width: 305px;
}

.Black > a:hover
{
	color:hsl(35, 77%, 62%);
}

.Other > div
{
	display: flex;
	gap: 20px;
}

.Other > div > div
{
	display: flex;
	flex-direction:column;
}

.Other > div > div > a
{
	color: hsl(240, 100%, 5%);
}

.Other > div > div > a:hover
{
	color: hsl(5, 85%, 63%);
}

.bl
{
	left:0px;
	top:0px;
	position: fixed;
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
	margin:0px;
}

.blmenu
{
	right:0px;
	top:0px;
	position: fixed;
	width: 500px;
	height:100%;
	background-color: hsl(36, 100%, 99%);
	margin:0px;
	
	display:flex;
	flex-direction:column;
}
	

@media screen and (width < 1000px)
{
	article > div
	{
		flex-direction: column;
	}
	
	.White
	{
		flex-direction: column;
	}
	
	.BigImage
	{
		width:343px;
		height: 300px;
		background-image: url("./assets/images/image-web-3-mobile.jpg");
	}
}

.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }